@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* ==================== Navigation Bar ==================== */

header {
    background: rgb(255, 187, 0);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;

    font-family: 'Kanit', Arial, sans-serif;
}

.navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 50px;
    width: 100%;
    max-width: 1500px;
}

.title {
    display: flex;
    align-items: center;
}

.title .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
}

.title .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.star:nth-child(2) {
    top: 50px;
    left: 100px;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: 120px;
    left: 50px;
    animation-duration: 1.5s;
}


.title .text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title .text a {
    text-decoration: none;
    text-shadow: 0 0 5px #00000025;
    /* -webkit-text-stroke: 0.1px black;
    text-stroke: 0.1px black; */
}

.title .text .title-text {
    font-size: 28px;
    margin-bottom: -7px;
    color: purple;
}

.title .text .title-subtitle {
    margin-top: -7px;
    font-size: 22px;
    color: purple;
}


.textani {
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(0deg, #ff006a, #ff00ff);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/*  */
.link-box {
    background: #3d3d3d;
    /* height: 50px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
}

.link-box .link {
    padding: 0 50px;
    width: 100%;
    max-width: 1500px;
}

.link-box .link ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}


.link-box .link ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.link-box .link ul li a:not(.dropdown-content a) {
    padding: 10px;
    /* font-size: 18px; */
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.dropdown-content .list-dropdown-content a {
    font-size: 18px;
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.link-box .link ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.15s ease-out;
}

.link-box .link ul li a:hover::after {
    transform: scaleX(1);
}

.link-box .link ul li a:hover {
    color: rgb(255, 255, 0);
}

/* Drop Down */
.line-dropdown-content {
    border: 1px solid #fff;
}

.dropdown-content {
    padding: 30px;
    position: absolute;

    z-index: 1200;
    left: 0;
    right: 0;

    top: 0;
    background: #000000e7;
    margin-top: 167px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    visibility: hidden;
    opacity: 0;

    transition: 0.2s;
}

.list-dropdown-content {
    margin: 0 30px;
    display: flex;
    flex-direction: column;

}

.list-dropdown-content a {
    margin: 2px 0;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    animation-name: dropdown-content-slide;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

@keyframes dropdown-content-slide {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }

}


/* ==================== Responsive ==================== */


.dropdown-responsive {
    display: none;
    /* width: 100%; */
    /* padding: 50px; */
    width: 70px;
    height: 70px;
    background: #49494985;
    border-radius: 7px;
    position: relative;
}



.icon-dropdown-responsive {
    color: #fff;
    padding: 0 15px;
    font-size: 44px;
}

.icon-dropdown-responsive {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 768 */
@media screen and (max-width: 800px) {
    .box-header {
        border-bottom: 10px solid #3d3d3d;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .link-box {
        display: none;
    }

    .line {
        display: none;
    }

    .link-box {
        z-index: 10000;
        position: absolute;
        padding: 30px 0;
        overflow: auto;
    }


    .dropdown-responsive {
        display: block;
    }

    .link-box .link ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-content {
        position: static;
        padding: 0px;
        display: flex;
        flex-direction: column;
        /* border-bottom: 5px solid #000; */
        background: transparent
    }
    .list-dropdown-content {
        /* position: static; */
        
        outline: 1px solid red;
    }

    .dropdown {
        height: 50px;
        display: flex;
        flex-direction: column;

        align-items: end;
    }

    .link-box {
        height: 50%;
    }

}

@media screen and (max-width: 600px) {
    .navbar .title .text {
        display: none;
    }
}